.list-task li{background:#ddd;border:0;margin-bottom:  10px;padding: 10px;min-height:  initial;}
.list-task li a{color:#fff;}
.list-task.primary li{background:#2196f3;color:#fff;}
.list-task.warning li{background:#ffa000;color:#fff;}
.list-task.success li{background:#7cb342;color:#fff;}
.list-task.danger li{background:#e53935;color:#fff;}
.viewmore-btn{margin-top:30px;margin-bottom:50px !important;}
.table-list{
	font-size: 12px;
}
.search-bar{
	margin-bottom:50px;
}
.search-bar .md-input-wrapper.input:after,
.md-input-wrapper.search:after{
	content:"search";
	font-family: 'Material Icons';
	position:  absolute;
	top: 0;
	right:  0;
	width:  30px;
	height: 48px;
	line-height: 48px;
	font-size:  20px;
}
.md-input-wrapper.filter:after{
	content: "\f0b0";
	font-family: FontAwesome;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	position:  absolute;
	top: 0;
	right:  0;
	width:  30px;
	height: 48px;
	line-height: 48px;
	font-size:  20px;
}
.width5{
	width:5%;
}
.width10{
	width:10%;
}
.width15{
	width:15%;
}
.width150px{
	width:150px;
}
.uk-table ol{
	padding-left: 10px;
}
.label-block{
	display:block;
	font-size:12px;
	font-weight:bold;
	margin-bottom: 7px;
}
.label-inline{
	display:inline-block;
	font-size: 11px;
	font-weight:bold;
	margin-right:  10px;
}
.uk-form-width-80{
	width:80% !important;
}
.icheck-small .iradio_md{
	width: 15px;
	height: 15px;
}
.icheck-small .inline-label{
	font-size:11px;
	padding-left:  0;
}
.icheck-small.icheck-inline{
	margin-right: 3px;
	margin-left:0px;
	margin-bottom:  0;
}
.icheck-small .iradio_md:after{
	width:5px;
	height:5px;
}
.md-input-wrapper.search{
	position:relative;
}
.input-icon .uk-input-group-addon{
	
position:  absolute;
	
top: 0;
	
right:  0;
	
width:  auto;
	
padding:  0px 10px;
	
line-height: 47px;
	
padding-left:  0;
	
font-size:  12px;
}
.input-icon input{
	padding-right: 25px !important;
}
.panel-default{
	
border: 1px solid #ddd;
	
padding: 20px;
	
height: 520px;
	
overflow:  auto;
}
.panel-default .heading{

margin-bottom:  10px;
}
.panel-default .heading h1{
	
font-size:  16px;
	
font-weight:  bold;
	
line-height:  normal;
	
margin:  0;
	
display:  inline-block;
}
.panel-default .heading input[type="text"]{
	font-size:  16px;
	font-weight:  bold;
	border:0;
	padding:0;
	width:80%;
}
.panel-default .heading i{
	
float:  right;
}
.panel-content{

margin-bottom: 30px !important;
}
.textarea-border{
	border: 1px solid #ddd;
	height:150px;
	width: 95%;
	font: 400 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:  10px;
	resize: none;
	overflow:auto;
}
.panel-default::-webkit-scrollbar-track{
	background-color: #F5F5F5;
}

.panel-default::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

.panel-default::-webkit-scrollbar-thumb{
	background-color: #ddd;
}
.textarea-border::-webkit-scrollbar-track{
	background-color: #F5F5F5;
}

.textarea-border::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

.textarea-border::-webkit-scrollbar-thumb{
	background-color: #ddd;
}
.table-list tbody td a{
	color:#444;
}
.table-list .uk-dropdown.uk-dropdown-small{
	width: auto;
	min-width:  auto !important;
}
.table-list .uk-dropdown.uk-dropdown-small li a{
	font-size:11px;
	padding: 3px 10px;
}
.table-list .uk-button-dropdown.uk-open .uk-icon-caret-down:before{
	content:"\f0d9";
}
.elipsis{
white-space: nowrap;
	
text-overflow: ellipsis;
	
overflow: hidden;
}
.group-title{
	padding: 0px 20px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}
.list-project{
	
list-style:  none;
	
padding:  0;
	
margin:  0;
}
.list-project>li{
	
margin-bottom: 10px;
	
border-bottom:  1px solid #000;
	
padding-bottom:  10px;
}
.list-project .label-block{
	
font-size:  16px;
}
.list-project .list-content{
	
margin: 0;
}
.list-project ol.list-content{
	
padding: 0px 15px;
}
.list-project ol.list-content li{
	
}
.list-project .list-content a{
	font-size:16px;
}
.md-btn{
    min-width:200px;
    background-color: Transparent !important;
    
    background-repeat:no-repeat !important;
    border: none !important;
}
.md-height-207{
	height: 207px !important;
}
.md-height-125{
	height: 125px !important;
}
.nomargin{
	margin:0;
}
.relative{
	position:relative;
}
@media(min-width:992px){
	.bottom-position{
		position:absolute;
		bottom:0;
	}
}
.hr-full{
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom: 30px;
}
.list-detail ol{
	padding-left:15px;
}
.list-detail table{
	width:100%;
}
.list-detail table td:first-child{
	padding-left:0;
}
.list-detail table td{
	padding:0px 5px;
	vertical-align:top;
}
.list-detail table td:last-child{
	padding-right:0;
}
.list-detail table .space-td-large td{
	padding-top:50px;
}
.list-detail table .space-td-medium td{
	padding-top:30px;
}
.list-detail table .space-td-small td{
	padding-top:15px;
}
.list-detail table td small{
	font-style:italic;
}
.md-auto{
	min-width:auto;
}
.pull-right{
	float:right;
}
.uk-text-right{
	text-align:right;
}
.uk-dropdown-auto>div,
.uk-dropdown-auto .uk-dropdown-small,
.uk-dropdown-auto{
	width:auto !important;
	min-width:auto !important;
}
.uk-dropdown-divider{
	
padding: 0px;
	
margin:  0;
}
.uk-dropdown-divider ul.uk-nav{
	margin:0;
	padding:  0;
}
.uk-dropdown-divider .uk-nav li{
	border-bottom:1px solid #ddd;
}
.uk-dropdown-divider .uk-nav li:last-child{
	border:0;
}
.uk-dropdown-3-check ul{
	list-style:none;
	padding:0;
	margin:0;
	text-align:left;
}
.uk-dropdown-3-check ul ul{
	list-style:none;
	padding-left:20px;
}
.uk-dropdown-3-check ul.uk-dropdown-grid>li{

margin-bottom: 15px;
}
.uk-dropdown-3-check ul ul li{

}
.uk-dropdown-3-check ul ul li p{
	margin:0;
}
.uk-dropdown.uk-dropdown-3-check:not(.uk-dropdown-stack)>.uk-dropdown-grid>[class*=uk-width-]:nth-child(n+2){
	border:0;
}
.uk-dropdown-3-check .icheck-inline{
	margin-bottom:0;
}
.uk-dropdown-3-check .icheckbox_md{
	border-radius: 1000px;
	width:  15px;
	height:  15px;
	background:  none;
}
.uk-dropdown-3-check .inline-label{
	font-size:12px;
}
.uk-dropdown-3-check .icheckbox_md.checked:after, .uk-dropdown-3-check .icheckbox_md.disabled:after{
	
content: "";
	
font-family:  initial;
	
width: 5px;
	
height: 5px;
	
background: #009688;
	
border-radius:  1000px;
	
top: 3px;
	
left:  3px;
}
@media (min-width: 768px){
	.uk-dropdown-auto-3 .uk-dropdown-width-3:not(.uk-dropdown-stack){
		width: 650px !important;
	}
	.uk-dropdown:not(.uk-dropdown-stack)>.uk-dropdown-grid.uk-dropdown-grid-small {
		margin-left: -5px;
		margin-right: -5px;
	}
	.uk-dropdown:not(.uk-dropdown-stack)>.uk-dropdown-grid.uk-dropdown-grid-small>[class*=uk-width-] {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.filter .uk-button-dropdown{
	display:block;
}
.md-input-wrapper .selectize-control.single{
	border:1px solid #ddd;
	margin:  0;
}
.table-days .active{
	background:#ddd;
}
.panel-border-medium{
	border:10px solid #ddd;
	padding:10px;
	padding-bottom:30px;
}
.heading-panel-days{
	
text-align:  center;
	
margin-bottom:  20px;
}
.heading-panel-days button{
	
background:  none;
	
border: 0;
	
font-size: 40px;
	
line-height:  normal;
}
.heading-panel-days .heading_a{
	
display:  inline-block;
	
padding:  0px 30px;
	
line-height:  normal;
	
position:  relative;
	
top: -5px;
	
font-size:  25px;
}
.table-days{
	width:100%;
	border-collapse:collapse;
}
.table-days thead th{
	font-size:11px;
	background: #f5f5f5;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	padding:5px 0px;
	font-weight:normal;
}
.table-days thead tr:last-child th{
	width:23px;
}
.table-days thead tr:first-child th{
	border-top:1px solid #666;
}
.table-days thead tr:first-child th:first-child{
	text-align:left;
	padding-left:10px;
	width: 20%;
	padding-right:  10px;
}
.table-days thead th:first-child{
	border-left: 1px solid #666;
}
.table-days tbody td{
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	padding:5px 0px;
}
.table-days tbody td:first-child{
	border-left:1px solid #666;
}
.table-days tbody tr .days-job{
	position:relative;
	padding-left: 45px;
	font-size:  13px;
	padding-right:  10px;
}
.table-days tbody tr .days-job:before{
	content:"";
	width:20px;
	height:20px;
	background: #ddd;
	border-radius:1000px;
	display:inline-block;
	position:absolute;
	left: 10px;
	top:20%;
}
.table-days tbody tr.primary .days-job:before{background:#2196f3;}
.table-days tbody tr.warning .days-job:before{background:#ffa000;}
.table-days tbody tr.success .days-job:before{background:#7cb342;}
.table-days tbody tr .days-job small{
	display:block;
}
.table-days tbody tr.primary td.active{
	background:#2196f3;
	border-color:#2196f3;
}
.table-days tbody tr.warning td.active{
	background:#ffa000;
	border-color:#ffa000;
}

.table-days tbody tr.success td.active{
	background:#7cb342;
	border-color:#7cb342;
}
.red{
	color:red;
}
.orange{
	color:#ffa000;
}
.green{
	color:#7cb342;
}
.panel-list-drop{
	
list-style: none;
	
padding: 0;
	
margin: 0;
}
.panel-list-drop li{
	
background: #f2f2f2;
	
padding:  10px;
	
margin-top: 10px;
}
.panel-list-drop li:after{
	content:"";
	display:table;
	clear:both;
}
.panel-list-drop .content{
	
float:  left;
}
.panel-list-drop .content a{
	
color:  #333;
}
.panel-list-drop .content a:hover{
	color:#000;
}
.panel-list-drop .content small{
	
}
.panel-list-drop .button{
	
float:  right;
	
padding-top:  5px;
	
text-align:  center;
}
.panel-list-drop .button>i{
	display:block;
	margin-top:3px;
}
.panel-list-drop .button button{
	
background: #fff;
	
border: 0;
	
width: 20px;
	
height: 20px;
	
border-radius:  1000px;
	
line-height:  20px;
	
cursor:  pointer;
}
.md-card-custom.md-card .md-card-toolbar,
.md-card-custom.md-card .md-card-toolbar-heading-text{
	height:auto;
	line-height:20px;
}
.md-card-custom.md-card .md-card-toolbar{
	padding-top:10px;
	padding-bottom:10px;
}
.md-card-custom.md-card .md-card-toolbar-heading-text small{
	display:block;
	font-size:11px;
}
.md-card-custom.md-card .md-card-toolbar .md-card-toolbar-actions i{
	line-height:normal !important;
}
.uk-grid-block{
	display:block;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.upl-uk-custom {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upl-uk-custom + label {
    color: #d3394c;
}

.upl-uk-custom + label {
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    padding: 0;
    height: 44px;
    display:  block;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.12) !important;
    font: 400 15px/18px Roboto,sans-serif;
    box-shadow: inset 0 -1px 0 transparent;
    box-sizing: border-box;
    padding: 12px 6px;
    background: 0 0;
    width: 100%;
    position:  relative;
    display: block;
    pointer-events: all;
    cursor:  pointer;
    top: 0px !important;
    left: 0px !important;
}
.upl-uk-custom + label i{
	position:  absolute;
	top: 0;
	right: 5px;
	width:  30px;
	height:  30px;
	line-height:  30px;
	text-align:  center;
	font-size:  22px;
	bottom: 0;
	margin: auto;
	color: #000;
}

.upl-uk-custom:focus + label,
.upl-uk-custom.has-focus + label,
.upl-uk-custom + label:hover {
    border-color: #722040;
}

.upl-uk-custom + label span,
.upl-uk-custom + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.upl-uk-custom + label span {
    width: 179px;
    min-height: 2em;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    position:  relative;
    top: 0;
    position:  absolute;
    left:  0;
    height: 44px;
    padding: 10px;
    min-height:  0px;
    box-sizing: border-box;
    padding: 12px 6px;
    width:  100%;
    padding-right: 40px;
    color: #000;
}
.btn-c-disabled{
	color: #c7c6c6 !important;
	cursor: no-drop;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.07) !important;
}
.btn-c-disabled i{
	color: #c7c6c67a !important;
}
.jobdetail table tr td:first-child{
	width: 180px;
}
.tblpca thead tr th{
	border-top: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}
.tblpca thead tr th:first-child{
	width: 190px;
	border-left: 1px solid #cdcdcd;
}
.tblpca .selectize-control.single{
	padding-right: 0px;
	height: 30px;
	margin-top: 0px;
	min-height:  0px;
}
.tblpca .selectize-control.single .selectize-input{
	padding: 0px 0px 0px;
	min-height:  0px;
	background:  transparent;
	color:  #000;
	height:  30px;
}
.tblpca .selectize-control.single .selectize-input .item{
	color:  #000;
	font-size: 13px;
	line-height: 30px;
	display:  block;
	padding-right: 15px;
	text-align:  left;
	white-space: nowrap;
	text-overflow:  ellipsis;
	overflow:  hidden;
	max-width: 175px;
}
.tblpca .selectize-control.single .selectize-input:after{
	right: 20px;
	color: rgba(0, 0, 0, 0.85);
}
.tblpca .channelpca .selectize-control.single{
	padding-right: 30px;
	height: 30px;
	margin-top: 0px;
	min-height:  0px;
}
.tblpca .channelpca .selectize-control.single .selectize-input{
	padding: 0px 0px 0px;
	min-height:  0px;
	background:  transparent;
	color:  #000;
	height:  30px;
}
.tblpca .channelpca .selectize-control.single .selectize-input .item{
	color:  #000;
	font-size: 12px;
	line-height: 30px;
	display:  block;
	padding-right: 15px;
	text-align:  left;
	white-space: nowrap;
	text-overflow:  ellipsis;
	overflow:  hidden;
	max-width: 175px;
}
.tblpca .channelpca .selectize-control.single .selectize-input:after{
	right: 20px;
	color: rgba(0, 0, 0, 0.85);
}
.tblpca tr td{
	position: relative;
	vertical-align:  middle;
	background: #fff;
	font-size:  12px;
	color: #000;
	height: 30px;
	border-right: 1px solid #cdcdcd;
	text-align:  right;
}
.tblpca tr td .textrp{
	float: left;
	line-height:  18px;
}
.tblpca tr:nth-child(even) td{
	background: #F5F4F4;
}
.tblpca tr td:first-child{
	border-left: 1px solid #cdcdcd;
}
.tblpca tr td.channelpca{
	border-bottom: 1px solid #c1c1c1;
}
.tblpca tr:last-child td.channelpca{
	border-bottom: 1px solid #cdcdcd;
}
.tblpca .channelpca .removepca{
	position: absolute;
	top: 15px;
	right: 5px;
	color: #272727;
	width: 19px;
	height:  19px;
}
.tblpca .channelpca .removepca i{
	color: #272727;
}
.tblpca .tasknamepca span{
	display:  block;
	color: #000;
	font-size: 12px;
	line-height: 30px;
	padding-right: 40px;
	text-align:  left;
}
.tblpca .tasknamepca .removepca{
	position: absolute;
	top: 15px;
	right: 23px;
	color: #272727;
	width: 19px;
	height:  19px;
}
.tblpca .tasknamepca .removepca i{
	color: #272727;
}
.tblpca .tasknamepca .pcapanel{
	position: absolute;
	top: 15px;
	right: 5px;
	color: #060606;
	width: 19px;
	height: 19px;
	background:  transparent;
	border: 0px;
	padding:  0px;
	text-align:  center;
}
.tblpca .tasknamepca .pcapanel i{
	
line-height: 16px;
	
color: #272727;
}
.pcabutton{
	width: 100%;
	margin-top: 30px;
}
.mtop102{
	margin-top: 102px;
}
.pcasubtotal{
	float: right;
}
.pcasubtotal td:first-child{
	font-size: 11px;
	text-align:  right;
	padding: 5px 10px 5px 0px;
}
.pcasubtotal td:last-child{
	width: 100px;
	padding: 8px 7px 8px 7px;
	vertical-align:  middle;
	font-size:  11px;
	text-align: right;
}
.pcasubtotal td:last-child .textrp {
    float: left;
}
.pcasubtotal td .selectize-control.single{
	width: 60%;
	float:  left;
	height: 30px;
	margin-top: 0px;
}
.pcasubtotal td .selectize-control.single .selectize-input{
	padding: 0px;
	min-height: 0px;
	height:  30px;
}
.pcasubtotal td {
	
}
.pcasubtotal td .selectize-control.single .selectize-input .item{
	color: #000;
	font-size: 11px;
	line-height: 30px;
	display: block;
	height:  30px;
	white-space:  nowrap;
	text-overflow:  ellipsis;
	overflow:  hidden;
	text-align:  left;
	padding-right: 15px;
}
.pcasubtotal td .selectize-control.single .selectize-input:after{
	right: 20px;
	color: rgba(0, 0, 0, 0.85);
}
.pcasubtotal td .percentpcas{
	width: 30%;
	float: right;
	height: auto;
	margin-top: 0px;
	padding-top: 0px;
}
.pcasubtotal td .percentpcas span{
	line-height:  30px;
	font-size: 9px;
	padding-right: 0px;
	top: 1px;
	right:  -2px;
}
.pcasubtotal td.bopcapro{
	border-bottom:  1px solid;
}
.pcasubtotal td .percentpcas input{
	min-height:  0px;
	padding: 0px 3px;
	font-size:  11px;
	line-height:  30px;
	padding-right: 12px !important;
}
.pcasubtotal tr:nth-child(odd) td:last-child{
	background: #f5f4f4;
}
.pcasubtotal tr:last-child td:first-child{
	padding: 13px 10px 10px 0px;
}
.w95px{
	width: 95px;
}
.w30px{
	width: 30px;
}
.w190px{
	width: 190px;
}
.w300px{
	width: 300px;
}
.m12px20px{
	margin: 12px 20px;
}
.tblpca .tasknamepca .fieldtbldet{
	position: absolute;
	top: 15px;
	right: 23px;
	color: #272727;
	width: 19px;
	height: 19px;
}
.tblpca .tasknamepca .fieldtbldet .paneltbldet {
	box-shadow: 0px 1px 5px #000;
	padding: 0px;
}
.tblpca .tasknamepca .fieldtbldet .paneltbldet .ptbldetarr{
	position: absolute;
	box-shadow: 0px 1px 5px #000;
	padding: 15px;
	background:  #fff;
	left: 0;
	top: 0;
	box-sizing:  border-box;
}
.tblpca .tasknamepca .fieldtbldet .removepca{
	top: 0;
	right: 0;
	position:  relative;
	min-width: 0px;
	background:  transparent;
	box-shadow: none;
	padding: 0px;
	height: auto;
	min-height:  0px;
	display:  block;
	transform: none;
}
.tblpca .tasknamepca .fieldtbldet .removepca i{
	margin-top: 0px;
	display:  block;
	vertical-align:  top;
}
.tblpca{
	position: relative;
}
.material-icons.addoutlinesq{
	color:  #000;
	border: 1px solid #000;
	font-size:  15px;
}
.w235px{
	width: 235px !important;
}
.tblpcatask tbody tr td .chekctblfleft {
	display:  block;
	padding-right: 30px;
	float:  none;
	text-align: left;
}
.tblpcatask tbody tr td > span.icheck-inline{
	padding-right:  0px;
	margin: 0px;
	line-height: 16px;
}
.tblpcatask tfoot tr td:first-child{
	border-left: 0px;
}
.tblpca.tblpcatask tr:nth-child(odd) td{
	background: #ffffff;
}
.w100p{
	width: 100%;
}
.drodohchild{
}
.drodohchild .uk-drodoh-sub{
	position:  relative;
	box-sizing:  border-box;
	display:  block;
	text-align:  center;
}
.drodohchild a{
	box-sizing:  border-box;
	display:  block;
	text-align: left;
}
.drodohchild .uk-drodoh-sub a{
	
}
.drodohchild .uk-drodoh-sub a:after{
	
}
.drodohchild .uk-drodoh-sub ul{
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0px;
	box-sizing:  border-box;
	padding: 15px 0px;
	background: #fff;
	min-width: 200px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	visibility:  hidden;
	opacity:  0;
	transform: scale(0);
	transition:  all 0.4s;
}
.drodohchild .uk-drodoh-sub:hover ul{
	visibility:  visible;
	opacity:  1;
	transform: scale(1);
}
.drodohchild .uk-drodoh-sub ul li{
	padding: 0px;
}
.drodohchild .uk-drodoh-sub ul li a{
	color: #444;
	display: block;
	padding:  5px 15px;
}
.drodohchild .uk-drodoh-sub ul li a:hover{
	background: #eaeaea;
}
.mb91px{
	margin-bottom: 91px;
}
.det-approval-list{
	padding-left: 20px;
}
.det-approval-list li{
	list-style:  none;
	border-bottom: 1px solid #444444;
	padding-bottom: 15px;
	margin-bottom: 25px;
}
.det-approval-list li:last-child{
	border-bottom: 0px;
}
.det-approval-list li:first-child{
	margin-top: 50px;
}
.det-approval-list li label{
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 0px;
	display:  block;
	font-weight: 600;
}
.det-approval-list li p{
	margin: 9px 0px 5px;
	font-size: 12px;
	font-weight: 500;
}
.ml20px{
	margin-left: 20px;
}
.previewfile embed{
	width: 100%;
    height: 100%;
}
.notepceadd{
	padding-top: 4px;
}
.notepceadd ol{
	border: 1px solid #444444;
	padding: 10px 10px 10px 25px;
}
.notepceadd ol li{
	font-size: 12px;
}
.jobreqtitle{
	display: block;
	float: none;
	width:  100%;
	margin-bottom: 40px;
	margin-top: 10px;
}
.jobreqinfo{
	width: 100%;
	float: none;
	margin-bottom: 30px;
}
.jobreqinfo h5{
	display:  block;
	margin-bottom: 0px;
}
.jobreqinfo h2{
	margin-top: 3px;
	font-size: 22px;
}
.tabscustomjob{
	
}
.tabscustomjob  .uk-tab{
	border-bottom: 1px solid #dad9d9;
}
.tabscustomjob  .uk-tab li{
	
}
.tabscustomjob  .uk-tab li a{
	padding: 10px !important;
}
.tabscustomjob  .uk-tab li + li{
	
}
.tabscustomjob  .uk-tab li.uk-active{
	
}
.tabscustomjob  .uk-tab li.uk-active a{
	background: #1a76d3 !important;
	color: #fff;
	padding: 10px !important;
	border-color: #0b4279;
}
.tabscustomjob  .uk-tab li:first-child{
	margin-left: 40px;
}
.tabscustomjob  .tabfillarea{
	margin-top: 0px;
	padding: 25px 20px 25px;
	border: 1px solid #dad9d9;
	border-top: 0px;
}
.tabscustomjob  .tabfillarea li{
	
}
.tabscustomjob  .tabfillarea li .tabpanelarea{
	margin-bottom: 0px !important;
}
.cardreqarea{

}
.cardreqarea .md-card{
	
}
.cardreqarea .md-card .md-card-content{
	
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop{
	
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop li{
	padding: 0px;
	background: #fcfcfc;
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop .cntkanbanarea, .cntkanbanarea{
	background: #fcfcfc;
	min-height: 96px;
	padding: 10px;
	box-shadow: 0px 1px 5px #e0e0e0;
	cursor:  pointer;
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop li .content{
	
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop li .content a, .cntkanbanarea .content a{
    font-weight: 600;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop li .content p, .cntkanbanarea .content p{
    margin: 3px 0px 8px;
    font-size: 12px;
    display: block;
    cursor: pointer;
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop li .content small{
	display: block;
    font-size: 11px;
    margin: 8px 0px 10px;
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop li .content small span{
	
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop li .badgecard span.uk-badge{
	line-height: 20px;
	display:  table;
	margin-right: auto;
}
.cardreqarea .md-card .md-card-content ul.panel-list-drop li .badgecard span.uk-badge i, .cntkanbanarea .badgecard span.uk-badge i{
	color: #fff;
	margin-top: 1px;
	display:  block;
	float:  left;
}
.uk-red{
	color: red;
}
.cardreqfolder {

}
.cardreqfolder .md-card-hcustom{
	
}
.cardreqfolder .md-card-hcustom h3.uk-accordion-title{
	background: #1976d2;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 10px 30px 10px 15px;
}
.cardreqfolder .md-card-hcustom .uk-accordion-content{
	padding: 15px 15px 15px;
}
.cardreqfolder .md-card-hcustom h3.uk-accordion-title span{
	display:  block;
	font-size: 11px;
	font-weight:  500;
}
.cardreqfolder .md-card-hcustom h3.uk-accordion-title:after{
	color: #333;
}
.cardreqfolder .md-card-hcustom .uk-accordion-content .contentdescdet{
	
background: #fff;
	
padding: 10px 10px 10px;
}
.cardreqfolder .md-card-hcustom .uk-accordion-content p{
	
font-size: 13px;
	
text-align: left;
	
line-height: 20px;
}
.cardreqfolder .md-card-folder{
	
}
.cardreqfolder .md-card-folder .tabscustomfol{
	
}
.cardreqfolder .md-card-folder .tabscustomfol ul.uk-tab{
	
}
.cardreqfolder .md-card-folder .tabscustomfol ul.uk-tab li{
	width: 50%;
	margin:  0px;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.uk-tab li a{
	
background: #fff;
	
border-color: #d4d4d4;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.uk-tab li.uk-active  a{
	
border-color: #bbbbbb;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea {
	padding: 5px;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li{
	background:  #fff;
	padding: 10px;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 5px;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea{
	margin-left:  0px;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > li{
	padding: 0px 5px;
	margin-top: 0px;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > li .foljobreqarea{
	margin-bottom: 5px !important;
	padding: 0px;
	box-shadow: none;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > li .foljobreqarea i, .cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > div ul.md-list li.uk-sortable-item .foljobreqarea i{
	display: block !important;
	font-size: 44px !important;
	margin: 0px auto 0px !important;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > li .foljobreqarea span, .cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > div ul.md-list li.uk-sortable-item .foljobreqarea span{
	display:  block;
	font-size: 10px;
	white-space:  nowrap;
	text-overflow:  ellipsis;
	overflow:  hidden;
	text-align: center;
}
.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > li .filejobreqarea{
	cursor: move;
}
.btnchoosefol{
	position: absolute;
	width: 110px;
	height:  30px;
	opacity: 0;
	transition: all 0.4s;
	visibility: hidden;
}
.btnchoosefol .uk-button-dropdown{
	width:  100%;
	display:  block;
	min-width: 0px;
}
.btnchoosefol .uk-button-dropdown button.md-btn{
	min-width:  0px;
	padding: 5px 8px;
	font-size: 12px !important;
	min-height: 0px;
	line-height:  20px !important;
	background: #ffffff;
}
.btnchoosefol .uk-button-dropdown button.md-btn i{
	margin-top: 3px;
	float: right;
	font-size:  14px;
	display:  block;
	margin-left: 10px;
}
.btnchoosefol .uk-button-dropdown .uk-dropdown{
	padding:  0px;
	margin-top: 3px;
}
.btnchoosefol .uk-button-dropdown .uk-dropdown ul.uk-nav{
	margin: 0px;
}
.btnchoosefol .uk-button-dropdown .uk-dropdown ul.uk-nav li{
	padding: 0px;
	border-bottom: 1px solid #ddd;
}
.btnchoosefol .uk-button-dropdown .uk-dropdown ul.uk-nav li a{
	font-size:  12px;
}
.btnchooserightcl{
	position: absolute;
	top: 0;
	z-index:  11111;
	background:  #fff;
	width: 120px;
	box-shadow: 0px 1px 3px #dcdbdb;
	opacity: 0;
	visibility: hidden;
}
.btnchooserightcl ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.btnchooserightcl ul li{
	
}
.btnchooserightcl ul li a{
	display:  block;
	padding: 8px 15px;
	border-bottom: 1px solid #ddd;
	color:  #000;
	font-size:  13px;
}
.btnchooserightcl ul li:hover a{
	background: #efefef;
}
.tabfillcomment{

}
.tabfillcomment .commentjobtask{

}
.tabfillcomment .commentjobtask ul.listcommentarea{
	padding: 0px;
	margin-bottom: 25px;
}
.tabfillcomment .commentjobtask ul.listcommentarea li{
	list-style:  none;
}
.tabfillcomment .commentjobtask ul.listcommentarea li .headercomarr{
	display:  table;
	width:  100%;
	margin-bottom: 10px;
}
.tabfillcomment .commentjobtask ul.listcommentarea li .headercomarr span.datecomm{
	float:  right;
	font-size: 10px;
	color: #bbb;
}
.tabfillcomment .commentjobtask ul.listcommentarea li .headercomarr h5{
	display:  block;
	margin: 0px;
	font-size: 15px;
	font-weight: 600;
	padding-right:  55px;
	color: #10d410;
}
.tabfillcomment .commentjobtask ul.listcommentarea li span.fileinfo{
	display:  block;
	font-size:  12px;
	margin-bottom:  3px;
}
.tabfillcomment .commentjobtask ul.listcommentarea li p{
	display: block;
	font-size: 12px;
	margin: 0px;
	line-height: 16px;
}
.tabfillcomment .commentjobtask ul.listcommentarea li.empreply p{
	text-align: right;
}
.tabfillcomment .commentjobtask ul.listcommentarea li.empreply .headercomarr span.datecomm{
	float:  left;
}
.tabfillcomment .commentjobtask ul.listcommentarea li.empreply .headercomarr h5{
	text-align:  right;
	padding-right:  0px;
	padding-left: 55px;
}
.tabfillcomment .commentjobtask .sendcomment{
	display: block;
	width:  100%;
}
.tabfillcomment .commentjobtask .sendcomment textarea{
	width: 100%;
	box-sizing:  border-box;
	height: 60px;
	border-radius:  0px;
	border: 1px solid #dbdbdb;
	z-index:  1;
	position:  relative;
	font-size:  12px;
}
.tabfillcomment .commentjobtask .sendcomment .addedfilecmt{
	position:  relative;
	z-index:  11;
}
.tabfillcomment .commentjobtask .sendcomment .comminparea{
	
padding-right: 65px;
	
box-sizing: border-box;
	
width: 100%;
	
display: block;
}
.tabfillcomment .commentjobtask .sendcomment .addedfilecmt .fileatcmt{
	display:  block;
	padding: 2px;
	border: 1px solid #dbdbdb;
	margin-bottom: -1px;
	border-bottom-color: #fff;
	z-index: 11;
	word-break:  break-all;
	font-size:  12px;
	line-height: 12px;
	padding-top: 5px;
}
.tabfillcomment .commentjobtask .sendcomment .icon-act-comm{
	box-sizing:  border-box;
	width: 60px;
	float:  right;
}
.tabfillcomment .commentjobtask .sendcomment .icon-act-comm button, .tabfillcomment .commentjobtask .sendcomment .icon-act-comm .attcfile > div{
	float: right;
	width: 28px;
	background:  transparent;
	border: 0px;
	line-height: 30px !important;
	padding:  0px;
	text-align:  center;
	cursor:  pointer;
	min-width:  0px;
	box-shadow:  none !important;
	min-height:  0px;
	border-radius:  0px !important;
	display: block;
}
.tabfillcomment .commentjobtask .sendcomment .icon-act-comm button i, .tabfillcomment .commentjobtask .sendcomment .icon-act-comm .attcfile > div i{
	color: #fff;
	margin-top: 0px;
}
.tabfillcomment .commentjobtask .sendcomment .icon-act-comm .attcfile{
	float: right;
}
.tabfillcomment .commentjobtask .sendcomment .icon-act-comm .attcfile > div{
	margin-left:  3px;
}
.tabfillcomment .commentjobtask .sendcomment .icon-act-comm .attcfile button i{
}
.uk-button-dropdown .pcabutton{
	margin-top: 0px;
}
.uk-button-dropdown .pcabutton + div.uk-dropdown{
    margin-top: 4px;
}
.asspanelinput .md-input-wrapper{
	padding-top: 0px;
}
.asspanelinput .md-input{
	background: #fff !important;
}
.asspanelinput .input-icon span.uk-input-group-addon{
	line-height: 44px;
	padding-right: 6px;
	font-size:  15px;
}
.asspanelinput .input-icon span.uk-input-group-addon i{
	color: #404040;
}
.asspanelinput .input-icon .md-input{
	padding-right: 30px !important;
}
.asspanelinput .md-input-wrapper .md-input + .uk-dropdown{
	
}
.asspanelinput .md-input-wrapper .md-input + .uk-dropdown > ul{
	margin: 0px;
}
.asspanelinput .md-input-wrapper .md-input + .uk-dropdown > ul > li{
	margin-top: 0px;
	background:  #fff;
	padding: 0px;
}
.asspanelinput .icon-ass-work span.uk-input-group-addon{
	position:  absolute;
	right: 15px;
	white-space:  normal;
	padding: 0px;
	line-height:  44px;
	box-sizing:  border-box;
	width:  25px;
	text-align:  center;
	top: 0;
}
.asspanelinput .icon-ass-work span.uk-input-group-addon i{
	color: #404040;
}
.asspanelinput .icon-ass-work span.uk-input-group-addon + span.uk-input-group-addon{
	right: 35px;
}
.asspanelinput{
	width: 100% !important;
	box-sizing: border-box;
}
.asspanelinput .md-input-wrapper{

}
.asspanelinput .md-input-wrapper textarea{
	min-height: 110px;
}
.asspanelinput button.md-btn{
	width: 100% !important;
	min-width:  0px;
}
.asspanelinput button.md-btn.md-btn-success{
	background: #7cb342;
}
.asspanelinput button.md-btn.md-btn-warning{
	background: #ffa000;
}
.asspanelinput .icon-ass-work.workerchoose span.uk-input-group-addon{

}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown{
	width:  25px;
	position:  absolute;
	top: 0;
	right:  0;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown button{
	padding:  0px;
	width: 21px !important;
	height: 43px !important;
	line-height:  20px !important;
	min-height:  0px;
	box-shadow:  none !important;
	background:  transparent;
	color: #404040;
	margin-left: auto;
	display:  block;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown button i{
	color: #404040;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown .uk-dropdown{
	margin-top: 0px;
	width: 320px !important;
	padding: 8px;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown .uk-dropdown .uk-grid {
	margin-left: 0px;
	padding: 0px 4px;
	margin-top: 0px;
	background: #f2f2f2;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown .uk-dropdown .uk-grid > div{
	padding: 8px 3px;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown .uk-dropdown .uk-grid:first-child{
	margin-bottom: 8px;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown .uk-dropdown .listworker{
	padding:  0px;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown .uk-dropdown .listworker li{
	list-style:  none;
	margin: 0px;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	color:  #000;
	position:  relative;
	padding-right:  40px;
}
.asspanelinput .icon-ass-work.workerchoose .uk-button-dropdown .uk-dropdown .listworker li a{
	color: #404040;
	float: right;
	display:  block;
	line-height:  20px;
	width:  20px;
	height: 20px;
	text-align:  center;
	border: 1px solid #404040;
	border-radius:  100%;
	font-size:  12px;
	position:  absolute;
	top: 0;
	bottom: 0;
	right: 8px;
	margin-top: auto;
	margin-bottom: auto;
}
.asspanelcustom{
	transform: scale(0);
	transition: all 0.4s;
	position:  absolute;
	width: 320px;
	margin-top: 5px;
	z-index: 1;
}
.asspanelcustom.assopenpanel{
	transform: scale(1);
}
.mt112px{
	margin-top: 112px;
}
.assbtnnobg i{
	background: transparent !important;
}
.tabletljob{

}
.tabletljob.table-days tbody tr .days-job{
	min-height: 20px;
	padding-left: 30px;
}
.tabletljob.table-days tbody td{
	padding: 8px 15px;
	height:  40px;
}
.tabletljob.table-days thead th{
	text-align: -webkit-left;
	padding-left: 10px;
	padding-right: 10px;
}
.tabletljob.table-days tbody tr .days-job:before{
	top: 0px;	
	left: 0px;
}
.tabletljob.table-days thead tr:nth-child(2) th{
	text-align: center;
}
.tabletljob.table-days thead tr:first-child th:nth-child{

}
.tabletljob .iconuserjobtl{
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: -5px;
    margin-right: -5px;
    cursor: pointer;
    float: left;
}
.tabletljob .tljobpercent{
	line-height: 34px;
	background:  #fff;
	display:  block;
	font-weight:  600;
	float:  left;
	padding: 0px 10px;
	margin: 3px 0px 3px 15px;
}
.tabletljob .iconuserjobtl > i{
	line-height: 40px;
	color:  #fff;
	font-size: 22px;
	display:  block;
}
.tabletljob .iconuserjobtl > .wokelist{
	position:  absolute;
	width:  160px;
	background: #fff;
	box-shadow: 0px 1px 5px #a2a2a2;
	padding: 8px 10px;
	box-sizing:  border-box;
	bottom: 100%;
	visibility:  hidden;
	opacity: 0;
	transform: scale(0);
	transition:  all 0.4s;
}
.tabletljob .iconuserjobtl:hover > .wokelist{
	opacity: 1;
	transform: scale(1);
	visibility: visible;
}
.tabletljob .iconuserjobtl > .wokelist:before{
	content:"\f0d7";
	font-family: FontAwesome;
	position:  absolute;
	bottom: -12px;
	left: 15px;
	color:  #fff;
	text-shadow: 0px 2px 3px #a2a2a2;
}
.tabletljob .iconuserjobtl > .wokelist ol{
	padding-left: 18px;
	text-align:  left;
	margin-bottom: 0px;
}
.tabletljob .iconuserjobtl > .wokelist ol li{
	color: #676767;
}
.w50px{
	width: 50px;
}
.quolicex span.icheck-inline{
    display: block;
}
.quolicex label.inline-label{
    text-align: left;
    display: block;
    padding-left: 25px;
}
.width9{
	width:9%;
}
.width8{
	width:8%;
}
.width7{
	width:7%;
}
.width2{
	width:2%;
}
.tblreqquo thead tr th:first-child{
	width: inherit;
}
.width30{
	width:30%;
}
.quopaydown > span{
	margin-right:  12px;
	line-height: 17px;
}
.tblpca .quopaydown .selectize-control{
	height: 20px;
}
.tblpca .quopaydown .selectize-control.single .selectize-input{
	height: 20px;
	line-height: 20px;
}
.tblpca .quopaydown .selectize-control.single .selectize-input .item{
	line-height: 20px;
}
.minwidth0px{
	min-width: 0px !important;
}
.md-input-line-only{
	margin-bottom: 11px;
}
.md-input-line-only .md-input{
	border: 0px !important;
	border-bottom: 1px solid #ddd !important;
	padding: 12px 0px !important;
}
.md-form-info{
	display:  block;
	padding-bottom: 5px;
	border-bottom: 1px solid #6b6b6b;
	margin-bottom: 30px;
}
.md-form-info > *{
	margin: 0px;
	font-weight: 600;
}
.md-input-disabled-c .md-input{
	background: #eaeaea !important;
	border-color: #eaeaea !important;
}
.tblpca .podetfoot{
	
}
.tblpca .podetfoot tr{
	
}
.tblpca .podetfoot tr td{
	border: 1px solid #fff;
	background:  #fff;
}
.tblpca .podetfoot tr:nth-child(odd) td:last-child{
	background: #e8e8e8;
	border-bottom: 1px solid #bfbfbf;
}
.tblpca .podetfoot tr.primary td:nth-child(2), .tblpca .podetfoot tr.primary td:last-child{
	background: #2196f3;
	border-color: #2196f3;
}
.tblpca .podetfoot tr.success td:nth-child(2), .tblpca .podetfoot tr.success td:last-child{
	background: #d7f321;
	border-color: #d7f321;
}
.pousercreated{
	width: 200px;
}
.pousercreated label{
	display: block;
	border-bottom: 1px solid #444;
	padding: 5px 0px;
	font-size:  13px;
}
.pousercreated span{
	display: block;
	display: block;
	padding: 5px 0px;
	font-size: 13px;
}
.table-list tbody td .atcreceipt{
	display:  block;
	cursor:  pointer;
	pointer-events:  visible;
	z-index:  111;
	position:  relative;
}
.table-list tbody td .atcreceipt button{
	cursor:  pointer;
	position:  relative;
	display:  block;
	line-height: 55px;
	background:  transparent;
	border: 0px;
	width:  100%;
	font-size:  18px;
}
.table-list tbody td .atcreceipt input{
	cursor: pointer;
	width:  100%;
	height:  100%;
	display:  block;
}
.tblpca .caformfoot tr td{
	background: #fff;
	border: 0px;
	vertical-align:  top;
}
.tblpca .caformfoot tr td.cafootcontent{
}
.tblpca .caformfoot tr:nth-child(odd) td.cafootcontent{
	background: #f5f4f4;
}
.tblpca .caformfoot tr td .caformatc{
	
}
.tblpca .caformfoot tr td .caformatc button{
	background: transparent;
	border: 0px;
	color: #66b0f9;
	font-size:  13px;
	line-height:  20px;
	font-weight:  600;
}
.tblpca .caformfoot tr td .caformatc button i{
	color: #9a9a9a;
}
.tblpca .caformfoot tr td .caformatc input{
	width:  100%;
	height:  100%;
}
.causerinfo label{
	font-size: 12px;
}
.causerinfo span{
	font-size: 12px;
	margin-bottom: 5px;
}
.causerinfo p{
	margin: 0px;
	font-size: 12px;
}
.caperiod{

}
.caperiod > span{
	font-size:  13px;
}
.caperiod .md-input-wrapper{
	display: inline-block;
	width: 150px;
	margin-left: 8px;
	margin-right: 8px;
}
.caperiod .md-input-wrapper input{
	min-height: auto;
	font-size: 13px;
	padding: 7px 6px;
}
.caperiod .md-input-wrapper span{
	min-height: auto;
	line-height: 32px;
	top: 5px;
	padding-right: 5px;
}
.cardreqarea .cardreqdesc{
	font-size:  18px;
	margin-bottom: 10px;
}
.cardreqarea .choosestatus{
	margin-top: 0px;
	border-top: 1px solid #7d7d7d;
	padding-top: 15px;
	width:  100%;
}
.cardreqarea .choosestatus > button{
	text-align:  left;
	width:  100%;
	position:  relative;
	border-radius:  0px;
	min-height:  45px;
	background: #2196f3 !important;
	color:  #fff !important;
}
.cardreqarea .choosestatus > button i{
	width: 20px;
	height: 20px;
	border-radius:  100%;
	text-align:  center;
	line-height: 20px;
	border: 1px solid #fff;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	position:  absolute;
	right: 10px;
}
.cardreqarea .choosestatus > .uk-dropdown{
	position:  relative;
	top: 0px !important;
	background: #fff;
	margin-top: 0px !important;
	width: 100%;
	border-radius: 0px;
	border-top: 2px solid #1976d2;
	padding: 8px;
	transform: scale(0) !important;
	display: none!important;
}
.cardreqarea .choosestatus.opstaarea  > .uk-dropdown{
	transform: scale(1) !important;
	opacity:  1;
	visibility:  visible;
	display: block!important;
}
.cardreqarea .choosestatus > .uk-dropdown ul{
	list-style:  none;
	padding:  0px;
}
.cardreqarea .choosestatus > .uk-dropdown ul li{
	display:  block;
	position:  relative;
}
.cardreqarea .choosestatus > .uk-dropdown ul li a{
	display:  block;
	line-height:  35px;
	border-bottom: 1px solid #a7a4a4;
	color: #a7a4a4;
	margin-bottom: 5px;
	transition: all 0.4s;
}
.cardreqarea .choosestatus > .uk-dropdown ul li a:hover{
	background: #fff;
	color: #2b2b2b;
	border-bottom: 1px solid #2b2b2b;
}
.cardreqarea .choosestatus > .uk-dropdown ul li.cardstatusnote a{

}
.cardreqarea .choosestatus > .uk-dropdown ul li.cardstatusnote a i{
	color: inherit;
	float: right;
	display:  block;
	line-height:  36px;
	font-size:  15px;
	margin-right:  10px;
}
.cardreqarea .choosestatus > .uk-dropdown ul li.cardstatusnote .notearea{
	position:  absolute;
	width: 100%;
	left: 100%;
	background: #fff;
	padding: 10px;
	box-shadow: 0px 1px 3px #929292;
	margin-left: 8px;
	top: -6px;
	transform: scale(0);
	border: 1px solid #e4e4e4;
	transition:  all 0.4s;
}
.cardreqarea .choosestatus > .uk-dropdown ul li.cardstatusnote.sopennote .notearea{
	transform: scale(1);
}
.cardreqarea .choosestatus > .uk-dropdown ul li.cardstatusnote .notearea h4{
	margin-top: 5px;
	margin-bottom: 10px;
}
.cardreqarea .choosestatus > .uk-dropdown ul li.cardstatusnote .notearea p{
	margin:  0px;
}
.appreqfol.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > li .foljobreqarea i{
    font-size: 65px !important;
}
.appreqfol.cardreqfolder .md-card-folder .tabscustomfol ul.tabfillarea li .cardreqarea > li .foljobreqarea span{
	font-size: 13px;
}
.cardreqarea .choosestatus > .uk-dropdown ul li.cardstatusnote .notearea .closenote{
	width: 25px;
	height: 25px;
	border: 1px solid #535353;
	text-align:  center;
	line-height: 25px;
	color: #535353;
	border-radius:  100%;
	position:  absolute;
	top: 8px;
	right: 8px;
}
.lblformcustom{
	font-size: 16px;
    font-weight: 300;
    margin-bottom: 0px;
    display: block;
    font-weight: 600;
}
.cusinautoco{

}
.cusinautoco span.k-autocomplete{
	width:  100%;
	box-shadow:  none;
	background:  transparent;
	border: 0px;
}
.cusinautoco span.k-autocomplete input{
	padding: 10px 6px 10px 0px;
	background: #fff !important;
	height:  auto;
	box-shadow:  none !important;
	margin-top: 3px;
	width:  100%;
}
.cusinautoco span.k-autocomplete span.k-i-close{
	display:  none !important;
}
.cusinautoco.md-input-wrapper.search:after{
	line-height:  53px;
}
.sclosingfile{
	display: none;
}
.barinfoclose{
	position:  absolute;
	width:  180px;
	background:  #fff;
	box-shadow: 0px 1px 2px #adadad;
	border: 1px solid #ececec;
	z-index:  11;
	padding: 8px 10px;
	left: 28px;
	top: 100%;
	margin-top: 8px;
	transition: all 0.4s;
	transform: scale(0);
}
.barinfoclose.openinf{
	transform: scale(1);
}
.barinfoclose ul{
	list-style:  none;
	padding: 0px;
	margin: 0px;
}
.barinfoclose ul li{
	display:  block;
	line-height:  24px;
}
.barinfoclose ul li i{
	display:  block;
	float:  left;
	line-height:  24px;
}
.jobreqtitle small{
	font-size: 14px;
	margin-top: 0px;
	line-height: 26px;
	display: block;
	letter-spacing: 0.5px;
	font-weight:  600;
}
.digassman{
	
}
.digassman label{
	font-size: 16px;
	display:  block;
}
.digassman p{
	margin: 0px;
	margin-top: 10px;
	font-size:  12px;
}
.cardnotearea{
	margin-top: 41px;
}
.cardnotearea .notearea{
	width: 100%;
	left: 0;
	height:  100%;
	background: #fff;
	padding: 15px;
	margin-left: 0px;
	border: 1px solid #e4e4e4;
	transition: all 0.4s;
	box-sizing:  border-box;
	position: relative;
	overflow:  auto;
}
.cardnotearea .notearea a.closenote {
	width: 25px;
	height: 25px;
	border: 1px solid #535353;
	text-align: center;
	line-height: 25px;
	color: #535353;
	border-radius: 100%;
	position: absolute;
	top: 8px;
	right: 8px;
}
.cardnotearea .notearea h4{
	margin-top: 5px;
	margin-bottom: 10px;
}
.cardnotearea .notearea p{
	font-size: 13px;
	text-align: left;
	margin: 0px;
	line-height: 20px;
}
.pcafoot tr td:first-child{
	background: #fff;
	border: 0px;
}
.pcafoot tr td:last-child{
	border: 0px;
	background: #fff;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}
.pcafoot tr:nth-child(odd) td:last-child{
	background: #f5f4f4;
}
.pcafoot tr.pcafoottrlast td:last-child{
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}
.table-blue-color{

}
.table-blue-color thead tr th{
	background: #03a9f4;
	padding: 10px 8px;
	font-size: 12px;
}
.table-blue-color tbody tr td{
	background: #fff !important;
	padding: 10px 8px;
}
.table-blue-color tbody tr:nth-child(Even) td{
	background: #81d4fa !important;
}
.pcadethour{
	margin-top: 28px;
    height: 42px;
    margin-bottom: 32px;
}
.titleinfpd{
	display: block;
	margin-bottom: 15px;
	margin-top: 10px;
}
.titleinfpd h6{
	margin: 0px;
	font-size:  12px;
	color:  #000;
	font-weight:  600;
}
.titleinfpd h6 i{
	width:  15px;
	text-align:  center;
	line-height: 8px;
	padding-top: 1px;
	border: 1px solid #000;
	margin-right: 5px;
}
.percentsquare{
	border: 1px solid #000;
    padding: 2px;
    font-size: 11px;
    margin-left: 3px;
}
.userinfo{
	display: block;
	line-height:  30px;
	display:  table;
	margin-right: 15px;
	margin-left: auto;
	margin-bottom: 15px;
}
.userinfo i{
	width: 25px;
	height:  25px;
	text-align:  center;
	border-radius: 100%;
	line-height:  25px;
	float:  left;
	margin-right:  8px;
	margin-top: 2px;
	font-size:  17px;
	border: 1px solid #727272;
}
.weekchange{
	float: right;
	margin-bottom: 15px !important;
}
.weekchange span{
	line-height: 30px !important;
	display:  block;
	float:  left;
	padding: 0px 12px;
	/* background: #f5f5f5; */
}
.weekchange button{
	height: 30px;
	min-height: 0px;
	line-height: 30px !important;
	padding: 0px 10px;
	width:  auto;
	min-width: 0px;
	box-shadow:  none;
	float: left;
	border: 1px solid #000;
}
.weekchange span + button:last-child{
	float: right;
}
.weekchange button i{
	font-size:  18px;
	line-height: 29px !important;
}
.calicon {
	float:  right;
	height: 30px;
	min-height: 0px;
	line-height: 28px !important;
	padding: 0px 10px;
	width: auto;
	min-width: 0px;
	/* border: 1px solid #000; */
	box-shadow: none;
	box-sizing:  border-box;
	margin-left: 10px;
}
.tbltimesheet{
	border: 0px;
}
.tbltimesheet thead tr th{
	border: 0px !important;
	font-size: 14px;
	text-align: right !important;
	font-weight: 500;
	padding: 8px 10px !important;
}
.tbltimesheet tbody tr td{
	border: 0px !important;
	border-bottom: 1px solid #000 !important;
}
.tbltimesheet .md-input-wrapper{

}
.tbltimesheet .md-input-wrapper input{
	padding: 5px 10px;
	text-align:  center;
	width:  45px;
	background: #fff !important;
}
.tbltimesheet tbody tr td small{
	
display:  block;
	
font-size:  11px;
}
.tishicon{
	display: table;

}
.tishicon a{
	float: left;
	width: 15px;
	height: 15px;
	border: 1px solid #727272;
	text-align: center;
	line-height: 13px;
	margin-left: 4px;
	font-size: 8px;
	border-radius: 100%;
	box-sizing: border-box;
	margin-bottom: 3px;
}
.tishicon a:first-child{
	font-size: 13px;
}
.tishicon a:nth-child(2){
	padding-left: 1px;
}
.tbltimesheet.tabletljob.table-days tfoot td{
	padding: 10px 15px;
	height: 40px;
	background: #f5f5f5;
}
.tbltimesheet.tabletljob.table-days tfoot td .btnfootarea{
	
}
.tbltimesheet.tabletljob.table-days tfoot td .btnfootarea a{
	min-width: 120px;
}
.md-height-126{
	height: 126px !important;
}
.mt10px{
	margin-top: 10px;
}
.taskoption{
	height: 400px;
	border: 1px solid;
	margin-bottom: 10px;
	padding: 15px;
	box-sizing:  border-box;
}
.taskoption li{
	padding-bottom: 38px;
	padding-top: 14px;
}
.md-height-130{
	height: 130px !important;
}
.linetextarea{
	font-size: 11px !important;
	line-height: 18px !important;
	height: 75px !important;
	min-height:  0px !important;
}
.md-line-factur{
	margin-bottom: 17px !important;
}
.invoicefaktur{
	border-spacing:  0px;
	border-collapse: collapse;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.invoicefaktur tr td{
	border: 1px solid #000;
	padding: 4px 8px;
	line-height: 18px;
	font-size: 12px;
	border-bottom: 0px;
	border-top: 0px;
	vertical-align:  top;
}
.btninvoice button{
	min-width: 140px;
}
.md-min-height-615{
	min-height: 45px !important;
}
.btninvoice{
    position: absolute;
    right: 0;
    bottom: 0;
}
.cibripanel{
	position: relative;
	margin-bottom: 5px !important;
}
.cibripanel input{
	display:  block;
	width: 100% !important;
	line-height:  30px;
	padding-right: 50px !important;
	box-sizing:  border-box;
}
.cibripanel .upload-btn-wrapper{
	position:  absolute;
	top: 0;
	right: 0px;
}
.cibripanel .upload-btn-wrapper button{
	background:  transparent;
	border:  0px;
	font-size:  17px;
	line-height:  22px;
	display:  block;
}
.cibripanel .upload-btn-wrapper button i{
	line-height:  30px;
}
.cibripanel .upload-btn-wrapper input{
	padding: 0px !important;
	width:  100%;	
	height: 100%;
}
.btntaskpanel{
	margin-top: 20px;
}
.btntaskpanel button{
	min-width: 0px;
	width: 100%;
}
.timercdarea{
	display: none;
}
.txtcdinfo{
	width: 100%;
	display: block;
	text-align: center;
	font-weight: 600;
}
.tsperiodchange{
	cursor: pointer;
}
.iconnext{
	height: 40px;
    float: right;
    position: relative;
    display: block;
    margin-left: 6px;
    padding-top: 13px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: right;
}
.headdateinf{
	cursor: pointer;
}
.cardreqfolder{
}
.cardreqfolder .tabfillarea{
	margin-bottom: 0px;
}
.pcalinkcreate{
	color: #212121 !important;
    display: block !important;
}
.prioritytmtxt,.prctaxt{
	font-size: 11px;
    display: inline-block;
    margin-right: 5px;
    padding-right: 8px;
}
.prioritytmtxt{
    border-right: 2px solid #b9b9b9;
}
.cardreqdesc{
	margin-bottom: 0px;
}
.jobreqtitlekanban{
	display: block;
	cursor:  pointer;
}
.cntkanbanarea .content{
	float: none;
	display: block;
}
.timeshcheckbx{
	
}
.timeshcheckbx .uk-form-group{
	display:  table;
	width:  100%;
}
.timeshcheckbx .uk-form-group span{
	float: right;
}
.timeshcheckbx .uk-form-group label{
	display:  block;
	float:  none;
}
.formlistaccord .uk-accordion-title:after{
	content: "\f067";
	font-family: FontAwesome;
	font-size: 10px;
}
.formlistaccord .uk-accordion-title.uk-active:after{
	content: "\f068";
}
.tbltimesheet tbody tr td{
	cursor: pointer;
}
.ttlaccorddet{
	padding: 10px 10px 10px 40px;
	margin-bottom: 0px;
	position: relative;
	border: 1px solid #e2e2e2;
	font-size:  14px;
	background:  #fff;
	line-height:  20px;
	font-weight: 600;
}
.ttlaccorddet:before{
	content: "";
	width: 30px;
	display:  block;
	position:  absolute;
	top: 0;
	bottom: 0px;
	left: 0;
	border-right: 1px solid #dadada;
}
.detlistaccord{
	box-shadow: 0px 0px 1px #a0a0a0;
}
.detlistaccord .uk-accordion{
	border: 1px solid #dedede;
}
.detlistaccord .uk-accordion-title{
	margin-bottom: 0px;
	border-bottom: 1px solid #dedede;
	padding-left:  40px;
	font-size:  12px;
	line-height: 18px;
}
.detlistaccord .uk-accordion-title:after{
	position:  absolute;
	left:  0px;
	width:  30px;
	color: #1976d2;
	top: 0;
	bottom: 0;
	text-align:  center;
	line-height:  35px;
}
.detlistaccord .uk-accordion-title:before{
	content: "";
	position: absolute;
	left: 0px;
	width: 30px;
	top: 0;
	bottom: 0;
	text-align: center;
	border-right: 1px solid #cccccc;
}
.detlistaccord .uk-accordion-content{
	padding: 10px;
	background: #ecececad;
}
.detlistaccord .timelinedet{
	background: #fff;
	box-shadow: 0px 0px 1px #a0a0a0;
}
.uk-modal-large .uk-modal-dialog{
	width: 80%;
}
.tlinput{
	width: 100%;
	border-collapse:  unset;
	border-spacing: unset;
	border: 1px solid #ccc;
}
.tlinput thead tr th{
	vertical-align: top;
	border-spacing:  unset;
	padding: 10px;
	text-align:  left;
	border-bottom: 1px solid #ccc;
	border-left:  1px solid #ccc;
}
.tlinput thead tr th.inptlfield{
	width: 25%;
}
.tlinput tbody tr td{
	vertical-align: top;
	border-spacing: unset;
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.tlinput thead tr th:first-child,.tlinput tbody tr td:first-child{
	border-left: 0px;
}
.tlinput tbody tr:last-child td{
	border-bottom: 0px;
}
.table-click-active tr.list-active td{
	background: #bddeff !important;
}
.table-blue-color.table-click-active tr.list-active td{
	background: #fffdc5 !important;
}
.addsubtskarea{
	position:  relative;
	padding-top: 25px;
}
.addsubtskarea .removesubtsk{
	position:  absolute;
	width: 25px;
	height: 25px;
	color:  #fff;
	background: #fb1a1a;
	text-align:  center;
	border-radius: 100%;
	right: 0px;
	top: 8px;
}
.md-card-custom.md-card .md-card-toolbar .md-card-toolbar-actions .addsubtskarea .removesubtsk i{
	line-height: 25px !important;
	color: #fff;
}
.addsubrsrcarea {
	position: relative;
}
.addsubrsrcarea .removesubrsrc{
	position:  absolute;
	width: 18px;
	z-index:  1;
	height: 18px;
	color:  #fff;
	background: #fb1a1a;
	text-align:  center;
	border-radius: 100%;
	right: 38px;
	top: 12px;
}
.md-card-custom.md-card .md-card-toolbar .md-card-toolbar-actions .addsubrsrcarea .removesubrsrc i{
	line-height: 18px !important;
	color: #fff;
	font-size: 11px;
	display:  block;
}
.tdpointer td{
	cursor: pointer;
}

.prelative{
	position: relative;
}
.bottominfojobcl{
	width: 100%;
}
.jobcloattch{
	height:  auto;
}
.jobcloattch li{
	padding: 0px;
}
.jobcloattch li:last-child .list-project{
	margin-bottom: 5px !important;
}
.mrauto{
	margin-left: auto;
}
.infohjobsumm{
	width: 100%;
	padding: 0px 0px;
}
.infohjobsumm th, .infohjobsumm td, .infojobsumbottm th, .infojobsumbottm td{
	text-align:  left;
	font-weight: 400;
	font-size:  12px;
}
.infohjobsumm th, .infojobsumbottm th{
	width: 190px;
	font-size: 12px;
}
.infohjobsumm td:nth-child(2), .infojobsumbottm td:nth-child(2){
	width: 10px;
}
.infojobsumbottm td:last-child{
	width: 98px;
}
.infojobsumbottm td:last-child a{
	float: right;
	width: 80px !important;
	min-width:  0px;
	font-size:  12px !important;
	padding: 0px;
	min-height:  0px;
}
.infojobsumbottm{
	width:  100%;
	border: 1px solid #ddd;
	padding:  10px 15px;
}
.jdjobsumm{
	border: 1px solid #ddd;
	padding:  10px 15px;
}
.jdjobsumm.jobdetail table tr td:first-child{
	width: 141px;
}
.jdjobsumm.jobdetail table tr td{
	font-size: 12px;
}
.jdjobsumm.jobdetail table tr td button{
	font-size: 12px !important;
	min-height:  0px;
	padding: 0px 10px;
	display:  block;
	min-width: 0px;
	float:  right;
	margin-left: 5px;
	text-transform:  CAPITALIZE;
}
.jdjobsumm.jobdetail table tr td.btntaskjbbtn button{
	float:  left;
	margin-left: 0px;
	margin-right:  5px;
}
.wordbrk{
	word-break:  break-all;
}

.dupltask{
	margin-left: 30px;
	color: #1e88e5;
	text-decoration: underline !important;
}
.dupltask i{
	color: #1e88e5;
}
.btnheaderact{
	margin-bottom: 50px;
}
.approved-select {
    float: right;
    border-color: #ddd;
    width: 60%;
}
.ml20px{
	margin-left: 20px;
}

.listcrtl{
	margin-top: -15px;
	margin-bottom:  -15px;
}
.listcrtl ul{
	padding:  0px;
}
.listcrtl ul li{
	padding: 0px 15px;
	border-top: 1px solid #ddd;
}
.listcrtl ul li a{
	color: #000;
	position:  relative;
	padding-left: 20px;
	line-height: 32px;
}
.listcrtl ul li a.minlistcrtl:before{
	content: "\f068";
	font-family: FontAwesome;
	position:  absolute;
	left: 0;
	height: 15px;
	line-height:  16px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.listcrtl ul li a.plslistcrtl:before{
	content: "\f067";
	font-family: FontAwesome;
	position:  absolute;
	left: 0;
	height: 15px;
	width:  15px;
	line-height:  16px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
.listcrtl ul li a:hover{
	color: #d01818;
}
.listcrtl ul li a span.icheck-inline{
	margin: 0px;
	line-height: 10px;
}
.listcrtl ul li a span.icheck-inline .icheckbox_md{
	width: 15px;
	height: 15px;
}
.listcrtl ul li ul{
	padding: 0px;
	margin-left:  -15px;
	margin-right:  -15px;
}
.listcrtl ul li ul li{
	padding:  0px;
}
.listcrtl ul li ul li a{
	padding-left: 55px;
}
.listcrtl ul li ul li a:before{
	left: 35px !important;
}
.spanbgred{
	background: #ffdede;
}
.txtjobsumgreen{
	background: #cfffcf;
}
.text-red{
	color: red;
	font-weight: 600;
}
.taskjobreqpg{
	transform: scale(0);
	position: absolute;
	width: 25%;
	transition: all 0.4s;
}
.asspanelcustom.assopenpanel .md-card-content .uk-legend{
	cursor: move;
}
.uk-nestable-list.uk-nestable-dragged .nestablesgn{
	width: 100%;
}
.nestablesgn{
	margin: 0px !important;
	padding: 0px;
}
.nestablesgn .md-card{
	margin-right: 10px
}
.uk-nestable-placeholder.nestablesgn:after{
	padding-left: 0px;
	margin-right: 10px;
}
.nestableasgn{
	margin: 0px;
	padding: 0px;
}
.noplpr{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.modaladdasg, .modaldettaskasg, .modaltaskreqpg  {
	
}
.modaladdasg .uk-modal-dialog, .modaldettaskasg .uk-modal-dialog, .modaltaskreqpg .uk-modal-dialog {
	padding: 0px;
	width:  50%;
}
.modaladdasg .uk-modal-dialog .asspanelcustom, .modaldettaskasg .uk-modal-dialog .taskjobreqpg, .modaltaskreqpg .uk-modal-dialog .taskjobreqpg  {
	position:  relative;
	transform: scale(1);
	width: 100%;
}
.modaladdasg .uk-modal-dialog .md-card-content .panel-list-drop{
	
}
.modaladdasg .uk-modal-dialog .md-card-content .panel-list-drop li{
	
}
label.labelinlinef{
    display: block;
    line-height: 46px;
    font-size: 14px;
}
.tsaddform{
	margin-top: -10px;
	margin-bottom: -10px !important;
	margin-left: -10px;
	margin-right: -10px;
	padding: 15px 35px 5px;
}
.list-file-explore{
	margin-top:30px !important;
}
.list-file-explore table{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.list-file-explore thead th{
	border-right:1px solid #ddd;
	font-weight:600 !important;
	text-align:left;
	padding-bottom:10px;
	padding-top:5px;
	padding-right:10px;
	padding-left:10px;
}
.list-file-explore thead th:first-child{
	width:50%;
}
.list-file-explore thead th:nth-child(2){
	width:30%
}
.list-file-explore thead th:last-child{
	border-right:0;
}
.list-file-explore tbody td{
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	border:0 !important;
	border-spacing: 0;
	border-collapse: collapse;
	padding-top:  10px;
}
.list-file-explore tbody td a{
	color:#000;
}
.list-file-explore tbody td:first-child i{
	margin-right:5px;
	color:#8BC34A;
}
.list-file-explore tbody td.date,
.list-file-explore tbody td.type{
	color:#aaa;
}
.list-file-explore tbody tr:hover{
	background: #1976d2;
}
.list-file-explore tbody tr:hover td{
	color:#fff;
}
.list-file-explore tbody tr:hover td a{
	color:#fff;
}